.loginForm {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  width: 50%;
  margin:auto;
  align-items: center;
  justify-content: space-around;
  &__buttonWrapper {
    width: 50%;
    margin-top: 0.5rem;
  }
  &__label{
    align-self: flex-start;
  }
}
