.searchForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  &__buttonWrapper {
    margin-top: 1rem;
    width: 50%;
  }
}
