@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

$background-color: #f5f5f5;
$text: #283046;
$icons: #283046;
$main_red: #ed1a4c;
$text_white: #f2f2f2;
